@font-face {
    font-family: jost;
    src: url(./assets/Jost-Light.ttf);
}

@font-face {
    font-family: ml;
    src: url(./assets/mileast.regular.otf);
}

@font-face {
    font-family: bol;
    src: url(./assets/boldet.demo.otf);
}

@font-face {
    font-family: ai;
    src: url(./assets/Anaktoria.otf);
}

@font-face {
    font-family: seviso;
    src: url(./assets/seviso.regular.ttf);
}

@font-face {
    font-family: lux;
    src: url(./assets/LuxuriousScript-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


::-webkit-scrollbar-thumb {
    background: transparent !important;
}

::-webkit-scrollbar-thumb:horizontal {
    background: transparent !important;
}

::-webkit-scrollbar-thumb:vertical {
    background: transparent !important;
}

* {
    scrollbar-color: transparent transparent !important;
}



#main {
    width: 100%;
    height: 1365vh;
    background-color: #FEFEFE;
    position: relative;
    overflow: hidden;
}

.page1 {
    width: 100%;
    height: 200vh;
    background-color: rgb(53, 53, 53);
    position: relative;
}

.hero-elem-page1 {
    width: 100%;
    height: 100vh;
    background-color: #FEFEFE;
    /* position: absolute;
    top: 0%;
    left: 50%; */
    /* transform: translate(-50%,0%); */
    overflow: hidden;
    display: flex;
    position: relative;

}

.navigation {
    width: 100%;
    height: 10vh;
    /* background-color: #F3F3F3; */

    /* position: absolute; */
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1vw;
    font-family: ai;
    position: absolute;
    opacity: 1;
    /* z-index: 15; */
}

.navigation h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation h3 {
    font-family: jost;
    font-size: 1.2vw;
}

.follower-box {
    width: 13vw;
    height: 10vw;
    position: absolute;

    background-position: center;

    left: 88%;
    top: 25%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 1;
    z-index: 1;
    background-size: cover;
    background-image: url("./assets/all works/Screenshot\ 2026-01-10\ 205402.webp");
}

.dot-line1 {
    width: 100%;
    height: 1px;
    position: absolute;
    opacity: 1;
    top: 25%;
    left: 0%;

    background: repeating-linear-gradient(to right,
            #777 0px,
            #777 4px,
            transparent 4px,
            transparent 7px);


}

.dot-line1::before {
    content: "[ CREATIVE DEVELOPER ]";
    font-family: montserrat;
    font-size: 1vw;
    font-weight: 400;
    position: absolute;
    left: 4%;
    /* top: 10%; */
    margin-top: -2vw;
}

.dot-line1::after {
    content: "";

    position: absolute;

    width: 7vw;
    height: 7vw;
    /* background-color: red; */
    left: 20%;
    /* background-image: url(./assets/icon.svg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}

.dot-line2 {
    width: 1px;
    height: 100%;
    position: absolute;
    opacity: 1;
    top: 0%;
    left: 88%;

    background: repeating-linear-gradient(to bottom,
            #777 0px,
            #777 4px,
            transparent 4px,
            transparent 7px);


}

.hero-txt-box {
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    position: absolute;
    bottom: 9%;
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.hero-txt-top {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0vw 2vw;
    font-family: jost;
    position: relative;
    overflow: hidden;


}

.hero-txt-top h1 {
    font-weight: 100;
    font-size: 7vw;
    z-index: 3;
    color: rgb(30, 29, 29);
}

.hero-txt-top span {
    display: inline-block;
}

.hero-txt-bottom span {
    display: inline-block;
}

.hero-txt-bottom {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0vw 5vw;
    font-family: jost;
    position: relative;
    overflow: hidden;
}

.hero-txt-bottom span {
    font-weight: 100;
    font-size: 7vw;
    z-index: 3;
    color: rgb(30, 29, 29);

}

.hero-txt-bottom h1 {
    font-weight: 800;
    font-size: 7vw;
    z-index: 3;
    color: rgb(30, 29, 29);

}

.grd-box {
    width: 25vw;
    height: 100%;
    /* background-color: rgb(150, 92, 92); */
    background-image: url(./assets/front-page-blue.webp);
    filter: saturate(80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 1.5vw;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

}

.grd-box2 {
    width: 20vw;
    height: 100%;
    /* background-color: rgb(150, 92, 92); */
    background-image: url(./assets/WhatsApp\ Image\ 2026-08-11\ at\ 7.38.54\ PM.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 15%;
    margin-left: 1.5vw;
    display: flex;


    /* align-items: center; */
    /* justify-content: center; */

}

.sign {
    width: 9vw;
    height: 4vw;
    /* background-color: rgb(9, 255, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    left: 0%;
    top: 1%; */
}

.signature {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation-name: fill;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: linear;

}

@keyframes fill {
    to {
        stroke-dashoffset: 0;
    }
}

.name-box {
    width: 50vh;
    height: 25vh;
    top: 60vh;
    right: 0%;
    position: absolute;
    /* background-color:  rgb(30, 29, 29); */
    /* background-image: url(./assets/name.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    font-family: seviso;
    font-size: 5.86vw;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #F3F3F3;
    padding: 0vw;
    /* overflow: hidden; */
    /* padding: 5.5vw; */
    z-index: 5;
    transform-origin: top right;
    rotate: 90deg;
    pointer-events: none;

}

.naam {
    scale: 3;
    position: absolute;
    top: 20%;
    left: 50%;
    rotate: 180deg;
}

.name-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 0.7;
}

.name-box h1 {
    font-weight: 400;
    line-height: 0;
    white-space: nowrap;
}

.grid {
    width: 10%;
    height: 100%;
    background-color: #282727;
    z-index: 7;

    /* top: 0%; */
    /* transform-origin: top; */
    border-left: 0.4px solid rgba(188, 188, 188, 0.452);
    border-right: 0.4px solid rgba(188, 188, 188, 0.452);


}

.gridd {
    width: 10%;
    height: 100%;
    background-color: #FEFEFE;
    /* top: 0%; */
    /* transform-origin: top; */
    border-left: 0.4px solid rgba(188, 188, 188, 0.452);
    border-right: 0.4px solid rgba(188, 188, 188, 0.452);


}


.page3 {
    width: 100%;
    height: 320vh;
    background-color: #FEFEFE;
    position: absolute;
    top: 380vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav-page3 {
    width: 100%;
    height: 5vh;
    /* background-color: red; */
    padding: 0vw 1vw;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 10vw;
}

.pageno {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: ai;
    font-size: 1.8vw;

}

.nav-page3 h2 {
    font-family: ai;
    font-weight: 400;
    font-size: 3vw;
}

.nav-page3 h3 {
    font-family: ai;
    font-weight: 400;
    font-size: 2.2vw;
}

.show-case-box {
    width: 100%;
    height: 95vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vw;

    position: relative;
}

.project-name-box {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 15vh;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18vw;
    color: #1d1d1d;

}

.project-name-box::before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0%;
}

.project-name-box::after {
    content: "";
    width: 15px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 0%;
}

.project-name-box h2 {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: montserrat;
    font-size: 6vw;
    font-weight: 700;
    /* letter-spacing: 2px; */

}

.project-name-box h1 {
    font-family: montserrat;
    font-size: 6.7vw;
}

.project-image-box {
    width: 20vw;
    height: 20vh;



    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}

.project-image-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 65vh;
    object-fit: cover;

}

.pnb2 {
    gap: 48vw;
}

.project-name-box h5 {
    position: absolute;
    bottom: 0%;
    font-family: ai;
    font-size: 1.4vw;
}

.project-name-box h2 {
    font-size: 5vw;
}

.pnb3 {
    gap: 34vw;
}

.page2 {
    width: 100%;
    background-color: #FEFEFE;

    height: 220vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    top: 100vh;
    z-index: 10;

}

.about-me {
    width: 100%;
    height: 200vh;
    /* background-color: rgb(55, 81, 181); */
    position: absolute;
    top: 0%;
    z-index: 2;
}

.intro {
    width: 100%;
    height: 60vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.dp {
    width: 50%;
    height: 100%;
    /* background-color: rgb(0, 255, 255); */
    position: relative;
    padding: 1vw;
}

.intro-txt-box {
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: ai;
    font-size: 1.5vw;
}

.intro-txt-box h5 {
    width: 25vw;
    /* color: #0D3B6F; */
}

.dp-image {
    width: 45%;
    height: 75%;
    position: absolute;
    top: 3%;
    left: 2%;
    background-color: black;
    background-image: url(./assets/main-image.webp);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: 0% 25%;

}

.highlight-box {
    width: 100%;
    height: 40vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.4vw;
    font-family: jost;
    line-height: 4.5vw;
    padding: 0vw 1.5vw;
    /* color: #0D3B6F; */
}

.highlight-box span {
    font-weight: 200;
    opacity: 1;
    font-style: italic;

}

.education {
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ai;
    font-size: 1.6vw;
}

.education h5 {
    width: 35vw;
}

.skills {
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ai;
    font-size: 1.6vw;
}

.skills h5 {
    width: 35vw;
}


.outro {
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.outro-dp {
    width: 50%;
    height: 100%;
    /* background-color: rgb(0, 255, 255); */
    position: relative;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.outro-txt-box {
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: jost;
    font-size: 1.5vw;
}

.outro-txt-box h5 {
    width: 45vw;
    text-align: right;
}

.outro-dp-image {
    width: 50%;
    height: 85%;
    filter: saturate(10%);


    background-color: black;
    background-image: url(./assets/ChatGPT\ Image\ Aug\ 11\,\ 2026\,\ 11_53_36\ PM.webp);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: 0% 25%;

}

.page4 {
    width: 100%;
    position: absolute;
    top: 700vh;
    background-color: #FEFEFE;
}

.wrapper {
    width: 100%;
}


.grid-layout>div {
    grid-row: var(--r);
    grid-column: var(--c);
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 0.5rem;
    overflow: hidden;

    perspective: 1200px;
    transform-style: preserve-3d;
}

.grid-layout>div {
    grid-row: var(--r);
    grid-column: var(--c);
}

.elem {
    grid-column: span 1;
    grid-row: span 1;

    aspect-ratio: 16 / 10;

    overflow: hidden;
    transform-style: preserve-3d;

    will-change: transform, opacity;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.elem[style*="--r: 1;"][style*="--c: 2;"],
.elem[style*="--r: 3;"][style*="--c: 2;"],
.elem[style*="--r: 5;"][style*="--c: 2;"],
.elem[style*="--r: 7;"][style*="--c: 2;"],
.elem[style*="--r: 9;"][style*="--c: 2;"],
.elem[style*="--r: 11;"][style*="--c: 2;"],
.elem[style*="--r: 13;"][style*="--c: 2;"],
.elem[style*="--r: 15;"][style*="--c: 2;"],
.elem[style*="--r: 17;"][style*="--c: 2;"],
.elem[style*="--r: 19;"][style*="--c: 2;"] {
    transform: translateZ(40px) scale(1);
    opacity: 1;
    z-index: 2;
}


.elem[style*="--r: 1;"][style*="--c: 3;"],
.elem[style*="--r: 3;"][style*="--c: 3;"],
.elem[style*="--r: 5;"][style*="--c: 3;"],
.elem[style*="--r: 7;"][style*="--c: 3;"],
.elem[style*="--r: 9;"][style*="--c: 3;"],
.elem[style*="--r: 11;"][style*="--c: 3;"],
.elem[style*="--r: 13;"][style*="--c: 3;"],
.elem[style*="--r: 15;"][style*="--c: 3;"],
.elem[style*="--r: 17;"][style*="--c: 3;"],
.elem[style*="--r: 19;"][style*="--c: 3;"],

.elem[style*="--r: 1;"][style*="--c: 1;"],
.elem[style*="--r: 3;"][style*="--c: 1;"],
.elem[style*="--r: 5;"][style*="--c: 1;"],
.elem[style*="--r: 7;"][style*="--c: 1;"],
.elem[style*="--r: 9;"][style*="--c: 1;"],
.elem[style*="--r: 11;"][style*="--c: 1;"],
.elem[style*="--r: 13;"][style*="--c: 1;"],
.elem[style*="--r: 15;"][style*="--c: 1;"],
.elem[style*="--r: 17;"][style*="--c: 1;"],
.elem[style*="--r: 19;"][style*="--c: 1;"] {
    transform: translateZ(-20px) scale(0.6);
    opacity: 0.6;
    z-index: 1;
}


.elem[style*="--r: 1;"][style*="--c: 4;"],
.elem[style*="--r: 3;"][style*="--c: 4;"],
.elem[style*="--r: 5;"][style*="--c: 4;"],
.elem[style*="--r: 7;"][style*="--c: 4;"],
.elem[style*="--r: 9;"][style*="--c: 4;"],
.elem[style*="--r: 11;"][style*="--c: 4;"],
.elem[style*="--r: 13;"][style*="--c: 4;"],
.elem[style*="--r: 15;"][style*="--c: 4;"],
.elem[style*="--r: 17;"][style*="--c: 4;"],
.elem[style*="--r: 19;"][style*="--c: 4;"] {
    transform: translateZ(-130px) scale(0.35);
    opacity: 0.3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #232222;
}

.overlay-title {
    font-size: 5vw;
    line-height: 1;
    opacity: 0;
    scale: 0.4;
    font-family: ai;
    margin-bottom: 1rem;
    font-weight: 200;
}

.overlay-title sup {
    font-size: 1vw;



}


.overlay-subtitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.page5 {
    width: 100%;
    height: 100vh;
    background-color: #282727;
    position: absolute;
    top: 1265vh;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contact {
    width: 100%;
    height: 33vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

}

.contact h4 {
    font-family: ai;
    font-size: 1.3vw;
    font-weight: 200;
    color: #fefefe9e;
    cursor: pointer;

}

.contact h5 {
    font-family: jost;
    font-size: 1.2vw;
    font-weight: 400;
    color: #fefefe9e;
    cursor: pointer;

    margin-top: 0.2vw;
    transition: all ease 0.3s;
}

.contact h5:hover {
    color: #FEFEFE;
}

.info-contact {
    width: 30%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2vw 1vw;


}

.contact-email {
    width: 30%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 2vw 1vw;


}

.social {
    width: 30%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 2vw 1vw;


}

.small-connect-intro {
    width: 100%;
    height: 7vh;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.2vw 2vw;
    font-family: jost;
    font-size: 1.1vw;
    color: #fefefe9e;
    position: relative;

}

.small-connect-intro h5 {
    font-weight: 300;
}

.small-connect-intro h4 {
    font-weight: 300;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.connect-box {
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    font-size: 16vw;
    color: #353535;
    line-height: 0;
    position: relative;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(163, 162, 162, 0.271);
    overflow: hidden;
}

.connect-box h1 {
    font-weight: 400;
    letter-spacing: -2.5vw;
    position: absolute;
    bottom: 18%;
}

.layer-page5 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    pointer-events: none;

}

.grid-page5 {
    width: 10%;
    height: 100%;
    background-color: #4c4b4b;
    border-right: 0.7px solid gray;
    border-left: 0.7px solid gray;

}

.layer-page1 {
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: rgb(37, 37, 37);
    z-index: 19;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ai;
    color: #b9b8b8;


}

.hello-txt {
    width: 30vw;
    height: 9vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.layer-page1 span {
    display: inline-block;
    font-size: 4vw;
}


@media (max-width: 500px) {
   
    
.page1 {
    width: 100%;
    height: 200vh;
    background-color: rgb(53, 53, 53);
    position: relative;
}

.layer-page1 {
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: rgb(37, 37, 37);
    z-index: 19;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ai;
    color: #b9b8b8;


}

.hello-txt {
    width: 80vw;
    height: 12vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.layer-page1 span {
    display: inline-block;
    font-size: clamp(2rem,2.3rem,2.5rem);
}

.hero-elem-page1 {
    width: 100%;
    height: 100vh;
    background-color: #FEFEFE;
   
    overflow: hidden;
    display: flex;
    position: relative;

}

.navigation {
    width: 100%;
    height: 10vh;
    /* background-color: #9c2121; */

    /* position: absolute; */
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2.5vw;
    font-family: ai;
    position: absolute;
    opacity: 1;
    /* z-index: 15; */
}

.navigation h2 {
    position: relative;
    top: 0%;
    left:0%;
    transform: translate(-0%, -0%);
    font-size: clamp(1rem,1.3rem,1.5rem);
}

.navigation h3 {
    font-family: jost;
    font-size: 1.2vw;
    display: none;
}
.sign {
    width: 14vw;
    height: 65%;
    /* background-color: rgb(9, 255, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    left: 0%;
    top: 1%; */
}

.signature {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation-name: fill;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    animation-timing-function: linear;

}


.follower-box {
    width: 95%;
    height: 13vh;
    position: absolute;
    /* background-color: red; */
    background-position: center;

    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 1;
    z-index: 1;
    background-size: cover;
    background-position: 0% 25%;
    filter: saturate(50%);

    background-image: url("./assets/main-image.webp");
    
}
.follower-box::before{
    content: "[ CREATIVE DEVELOPER ]";
    font-family: montserrat;
    font-size: clamp(0.5rem,0.8rem,1.3rem);
    font-weight: 400;
    position: absolute;
    left: 0%;
    bottom: -0%;
    transform: translate(-0%, 118%);

}

.dot-line1 {
    display: none;
   
}
.dot-line2 {
  display: none;
}


.hero-txt-box {
    width: 100%;
    height: 20vh;
    /* background-color: red; */
    position: absolute;
    bottom: 9%;
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.hero-txt-top {
    width: 100%;
    height: 50%;
    /* background-color: rgb(80, 175, 104); */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0vw 2vw;
    font-family: jost;
    position: relative;
    overflow: hidden;


}

.hero-txt-top h1 {
    font-weight: 100;
    font-size: clamp(2rem,2.5rem,3rem);
    
    z-index: 3;
    color: rgb(30, 29, 29);
}

.hero-txt-top span {
    display: inline-block;
}

.hero-txt-bottom span {
    display: inline-block;
}

.hero-txt-bottom {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0vw 2vw;
    font-family: jost;
    position: relative;
    overflow: hidden;
}

.hero-txt-bottom span {
    font-weight: 100;
    font-size: clamp(2rem,2.5rem,3rem);
    z-index: 3;
    color: rgb(30, 29, 29);

}

.hero-txt-bottom h1 {
    font-weight: 800;
    font-size: 7vw;
    z-index: 3;
    color: rgb(30, 29, 29);

}

.grd-box {
    width: 25vw;
    height: 100%;
    /* background-color: rgb(150, 92, 92); */
    background-image: url(./assets/front-page-blue.webp);
    filter: saturate(80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 1.5vw;
    display: flex;
    display: none;
    /* align-items: center; */
    /* justify-content: center; */

}

.grd-box2 {
    width: 20vw;
    height: 100%;
    /* background-color: rgb(150, 92, 92); */
    background-image: url(./assets/main-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 15%;
    margin-left: 1.5vw;
    display: flex;
    display: none;


    /* align-items: center; */
    /* justify-content: center; */

}

.page2 {
    width: 100%;
    background-color: #FEFEFE;

    height: 220vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    top: 100vh;
    z-index: 10;

}

.about-me {
    width: 100%;
    height: 200vh;
    /* background-color: rgb(55, 81, 181); */
    position: absolute;
    top: 0%;
    z-index: 2;
}

.intro {
    width: 100%;
    height: 60vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dp {
    width: 80%;
    height: 50%;
    /* background-color: rgb(0, 255, 255); */
    position: relative;
    padding: 1vw;
}

.intro-txt-box {
    width: 100%;
    height: 50%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ai;
    font-size: clamp(0.8rem,1.2rem,1.5rem);
}

.intro-txt-box h5 {
    width: 80vw;
    /* color: #0D3B6F; */
}

.dp-image {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    background-color: black;
    background-image: url(./assets/main-image.webp);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: 0% 25%;

}

.highlight-box {
    width: 100%;
    height: 20vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(0.7rem,0.9rem,1.2rem);
    font-family: jost;
    line-height: 1.5rem;
    padding: 0vw 3vw;
    /* color: #0D3B6F; */
}

.highlight-box span {
    font-weight: 200;
    opacity: 1;
    font-style: italic;
    

}

.education {
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: jost;
    font-size: clamp(1rem,1.2rem,1.5rem);
    text-align: center;
    gap: 5vw;

}

.education h5 {
    width: 80vw;
    font-weight: 300;

    
}
.edu{
    font-size: clamp(1.3rem,1.5rem,1.8rem);
    font-family: ai;
}

.skills {
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: jost;
    gap: 5vw;
    text-align: center;

    font-size: clamp(1rem,1.2rem,1.5rem);
    
}

.skills h5 {
    width: 80vw;
    font-weight: 300;
    

}


.outro {
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.outro-dp {
    width: 95%;
    height: 50%;
    /* background-color: rgb(0, 255, 255); */
    position: relative;
    padding: 1vw;
   
}

.outro-txt-box {
    width: 100%;
    height: 50%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: jost;
    font-size: clamp(0.9rem,1.2rem,1.5rem);
}

.outro-txt-box h5 {
    width: 80vw;
    text-align: center;
    

}

.outro-dp-image {
    width: 100%;
    height: 100%;
    filter: saturate(10%);


    background-color: black;
    background-image: url(./assets/ChatGPT\ Image\ Aug\ 11\,\ 2026\,\ 11_53_36\ PM.webp);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: 0% 27%;

}

}